:root {
  color-scheme: dark;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  padding: 20px 10px;
}

.header a {
  float: left;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 2vh;
  border-radius: 5px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}
.header-right a {
  background-color: white;
  margin-left: 20px;
}

.header-right a:hover{
    background-color: rgb(138, 138, 138);
}
