:root {
  color-scheme: dark;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
  display: block;
}

/* Header  */

.headerhead {
  text-align: center;
  text-decoration: none;
}

.headerhead a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(105, 105, 105);
}

.headerhead a:hover {
  transform: scale(1.03);
  color: black;
  background-color: white;
  border: none;
}

.headerhead .headerlogo {
  float: left;
}
.headerhead .link {
  float: right;
  margin-left: 10px;
}
/* Student form  */
.studentform h1 {
  text-align: center;
}
.studentform {
  float: left;
  margin-left: 20%;
  margin-top: 5%;
}
.studentform td {
  font-size: 2vh;
}
.studentform input {
  font-weight: 550;
  font-size: 2vh;
  margin: 4px;
  padding: 10px;
  width: 20vw;
  border-radius: 4px;
  border: none;
}

.submitbutton {
  cursor: pointer;
}
