:root {
  color-scheme: dark;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}
.headerhead {
  text-align: center;
  text-decoration: none;
}

.headerhead a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(105, 105, 105);
}

.headerhead a:hover {
  transform: scale(1.03);
  color: black;
  background-color: white;
  border: none;
}

.headerhead .headerlogo {
  float: left;
}
.headerhead .link {
  float: right;
  margin-left: 10px;
}
